QWidget {
    font-size: 15px;
    margin: 10px;
}

QPushButton {
    font-size: 20px;
    padding: 15px;
}

QListWidget {
    font-size: 15px;
}

QLabel#headingLbl {
    font-size: 25px;
}

QLabel#subHeadingBoldLbl {
    font-size: 20px;
    font-weight: bold;
}

QLabel#boldUnderlineLbl {
    font-weight: bold;
    text-decoration: underline;

}

QLabel#boldLbl {
    font-weight: bold;
}
